<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
version="3.1">
<display-name>CoffeeShopManager</display-name>
<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>MenuServlet</servlet-name>
<servlet-class>com.servlet.MenuServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>CartServlet</servlet-name>
<servlet-class>com.servlet.CartServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>CheckoutServlet</servlet-name>
<servlet-class>com.servlet.CheckoutServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>AdminLoginServlet</servlet-name>
<servlet-class>com.servlet.AdminLoginServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>AdminDashboardServlet</servlet-name>
<servlet-class>com.servlet.AdminDashboardServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>ManageMenuServlet</servlet-name>
<servlet-class>com.servlet.ManageMenuServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>ReportServlet</servlet-name>
<servlet-class>com.servlet.ReportServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>ReportPdfServlet</servlet-name>
<servlet-class>com.servlet.ReportPdfServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>AdminLogoutServlet</servlet-name>
<servlet-class>com.servlet.AdminLogoutServlet</servlet-class>
</servlet> 

<servlet-mapping>
<servlet-name>MenuServlet</servlet-name>
<url-pattern>/menu</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>CartServlet</servlet-name>
<url-pattern>/cart</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>CheckoutServlet</servlet-name>
<url-pattern>/checkout</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>AdminLoginServlet</servlet-name>
<url-pattern>/adminLogin</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>AdminDashboardServlet</servlet-name>
<url-pattern>/adminDashboard</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ManageMenuServlet</servlet-name>
<url-pattern>/manageMenu</url-pattern>
</servlet-mapping>

<!-- <servlet-mapping>
<servlet-name>ReportServlet</servlet-name>
<url-pattern>/report</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ReportPdfServlet</servlet-name>
<url-pattern>/reportPdf</url-pattern>
</servlet-mapping> -->

<servlet-mapping>
<servlet-name>AdminLogoutServlet</servlet-name>
<url-pattern>/adminLogout</url-pattern>
</servlet-mapping>

<session-config>
<session-timeout>30</session-timeout>
</session-config>
</web-app>